# Python virtual environment
env/
*.pyc
__pycache__/~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
-- INSERT --                                                                                                                                                       1,1           All
